<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>User search</h1>
      <table>
        <thead>
          <tr>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td><a href="/users/<%= user.id %>"><%= user.name %></a></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
